*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

html, body { width:100%; height:100%; background-color: black;}

canvas {
  width: 100vw;
  height: 100%;
  background-color:black;
  z-index: 1;
}

.overlay {
  margin-top: -101vh;
  height: 100%;
  width: 100vw;
  display: none;
  position: fixed;
}
  
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  color: white;
}

#introScreen, #changeView {
  background-color: black;
}

#pauseScreen{
  background-color: none;
}

#endScreen{
  background-color: rgba(0, 0, 0, 0.5);
}


#wrapper{
  width: 100px;
  height: 100px;
  box-sizing: content-box;
  position: fixed;
  margin-top: -103vh;
  margin-left: -20px;
  
}
.playpause label { 
  display: block; 
  box-sizing: border-box; 
  width: 0; 
  height: 37px; 
  border-color: transparent transparent transparent #ffffff; 
  transition: 100ms all ease; 
  cursor: pointer; 
  border-style: double; 
  border-width: 0px 0 0px 30px;
} 
.playpause input[type="checkbox"] { 
  visibility: hidden; 
} 
.playpause input[type="checkbox"]:checked + label { 
  border-style: solid; 
  border-width: 18.5px 0 18.5px 30px; 
} 
.playpause{
  border:4px solid transparent;
  border-radius:50%;
  height:75px;
  width:75px;
  text-align:center;
  position:relative;
  background-color:transparent;
}
label{
  position:absolute ;
  left:45px;
  top:35px;
}

@media (max-width: 1000px) {
  canvas{
    height: 70%;
  }
  .overlay{
    margin-top: -71vh;
    height: 71vh;
  }
  #wrapper{
    margin-top: -73vh;
  }
  body{
    margin-top: 30vh;
  }
}